<?xml version="1.0" encoding="utf-8"?>
   <config>
     <fieldset name="component" label="COM_FOLIO_COMPONENT_LABEL" description="COM_FOLIO_COMPONENT_DESC">
     
     </fieldset>
     <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
     
     </fieldset>
   </config>